:root {
    --color-1:#FFD700;
    --color-2:#B22222;
    --color-3:#003366;
    --color-4:#F5F5F5;
    --scroll-animation-duration: 0.5s;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-style: oblique;
    background-color:transparent;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Great Vibes', serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
}
#envelope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    z-index: 10;
}
#envelope:hover {
    transform: scale(1.05);
}
/* Parte superior del sobre (solapa) */
#envelope-top {
    top: 0;
    border-bottom: none;
}
/* Parte inferior del sobre (cuerpo) */
#envelope-bottom {
    bottom: 0;
    border-top: none;
}
#envelope-top, #envelope-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    background: linear-gradient(0deg, rgba(236, 218, 201, 1) 0%, rgb(230, 210, 191) 50%, rgb(178 155 104 / 12%) 100%);
    box-shadow: 0 4px 8px rgba(216, 198, 181, 0.5), 0 6px 20px rgba(216, 198, 181, 0.3);
}
/* Sello del sobre */
#seal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background: #ebcfcd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    z-index: 11;
}
/* Texto dentro del sello */
#seal h2 {
    margin: 0;
    font-size: 38px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
    font-family: Garamond, serif;
}
#invitacion {
    display: none;
    background: transparent;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}
.sintillo{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: -50px;
    z-index: 2;
}
.sintillo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/div.play.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  
}
/*texto dorado*/
.sintillo h1, .sintillo h2{
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
/*header*/
.sintillo h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
    white-space: nowrap;
    margin-top: 90px;
    padding: 40px;
    text-transform: capitalize;
}
.sintillo h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
    white-space: nowrap;
    margin-top: 180px;
    text-transform: capitalize;
    padding: 20px;
}
.sintillo p{
    font-size: 35px;
    margin-top: 200px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.photo-section {
    position: relative; /* Permite que .photo-text se posicione sobre la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Evita que el contenido se desborde */
}
.section-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section-main img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}
/*secciones generales*/
.section , .section-playlist, .section-filter, .section-quote{
    padding: 0;
    transform: translateY(20px);
    animation: fadeIn var(--scroll-animation-duration) ease-in forwards;
}
/*sección countdown*/
.section-countdown {
    margin: 0;
    padding: 0;
    transform: translateY(20px);
    animation: fadeIn var(--scroll-animation-duration) ease-in forwards;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*dorado*/
.section-countdown h1, p, .countdown-circle span, .section-music h2, .section-quote h1, .section h2, .section-playlist h2, .section-gifts h2, .section h3, .section-filter h2, .section span{
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
.section-countdown h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.section-countdown p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    padding: 7px;
}
#contador{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}
.countdown-circle {
    width: 75px;
    height: 75px;
    background:#f3ebd99a;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.countdown-circle span {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    font-family: var(--font-text);
    font-style: italic;
}
.section-calendar {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 180px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff91;
    cursor: pointer;
}
.section-calendar a {
    text-decoration: none;
    font-family: var(--font-text);
    color: #987326;
    font-style: italic;
    font-size: 1.2em;
}
.section-calendar:hover {
    background-color:#987326;
}
.section-calendar a:hover {
    color: white;
}
/*section music*/
.section-music{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-music h2{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}
/*section div2*/
.section-cerezo{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-cerezo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/45.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
/*section blessed*/
.section-b{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-b p{
    font-family: var(--font-text);
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    margin-top: 10px;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
}
/*ceremonia*/
.ceremony {
    background-color:#fcf4e2;
}
/*sección div1*/
.section-cerezo0{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -30px
}
.section-cerezo0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/45.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.section h1{
    font-family: var(--font-text);
    padding: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
    background: linear-gradient(to right, #b29a68, #d4af37, #ffd700, #d4af37, #b29a68);
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1.5s infinite linear;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
/*section div3*/
.section-cerezo1{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-cerezo1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/43.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.section-quote{
    background-color: #fcf4e2;
}
.section-quote h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    padding: 15px;
    margin: 0;
}
.section-main h2 {
    top: 18%;
    font-size: 50px;
}
.section h2, .section-playlist h2, .section-gifts h2, .section h3, .section-filter h2{
    text-transform: capitalize;
    padding: 10px;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.section p, .section-gifts p, .section-filter p{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    padding: 5px;
    margin: 0;
}
.section span{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
.icon {
    padding: 0;
    margin: 0;
}
.icon img {
    width: 50%;
    margin-top: -20px;
    margin-bottom: -20px;
}/*section div4*/
.section-cerezo2{
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: -40px;
}
.section-cerezo2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/43.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
/*botones*/
button {
    background-color:#b29a68;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
    border: none;
    font-size: 1em;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 'Cormorant Garamond', serif;

}
button:hover {
    background-color: white;
    color: #b29a68;
}
/*footer*/
footer {
    padding: 20px;
    background:#b29a68;
    color: white;
    font-size: var(--footer-font-size);
    width: 100%;
    box-sizing: border-box;
}
.section-social-icons {
    padding: 20px;
}
.section-social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration:none;
}
.section-social-icons i{
    font-size: 35px;
}
.section-logo img{
    margin-top: 0px;
}
/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
    /* iPad Styles */
    .seal{
        width: 200px;
        height: 200px;
        }
    .sealh h2{
            font-size: 60px;
        }
    .section-music{
        margin-top: -90px;
        height: 500px;
    }
    .section-main h1, .section-main h2 {
        font-size: 3em;
    }

    .section-countdown h1,
    .section-countdown h2,
    .section-b h1,
    h1,
    .section h2,
    .section h3 {
        font-size: 2.5em;
    }

    .section p,
    .section-countdown p,
    .section-calendar a {
        font-size: 1.5em;
    }
}
@media (min-width: 1025px) {
    /* Laptop Styles */
    .seal{
    width: 200px;
    height: 200px;
    }
    .sealh h2{
        font-size: 60px;
    }
    .sintillo{
        height: 500px;
        margin-bottom: -80px;
    }
    .sintillo h1{
        font-size: 120px;
        margin-top: 10px;
    }
    .sintillo h2{
        font-size: 150px;
        margin-top: 280px;
    }
    .section-music{
        margin-top: -90px;
        height: 500px;
    }
    .section-music h2{
        font-size: 50px;
    }
    .section-countdown h1,
    .section-countdown h2,
    .section-b h1,
    h1,
    .section h2,
    .section h3 {
        font-size: 3em;
    }
    .section p,
    .section-countdown p,
    .section-calendar a, .section-b p{
        font-size: 1.8em;
    }
    .countdown-circle{
        height: 180px;
        width: 180px;
    }
    .countdown-circle span{
        font-size: 50px;
    }
    .section-quote{
        padding: 10px;
    }
    .section-social-icons i{
        font-size: 55px;
        margin-top: 10px;
    }
    .section-logo img{
        margin-top: 0px;
    }
}
.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
}
.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}


